* {
	box-sizing: border-box;

}


body {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
    width: 80vw;
    margin: auto;
	scroll-behavior: auto;
scroll-behavior: smooth;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60vw;
	padding: 30px;
	background-color: rgb(255, 238, 217);
}
/*
.headline{
	text-align: center;
	
}

.description{
	margin-top: 20px;
}
.cat-date{
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}

.cat{
	display: flex;
	flex-direction: column;
}
.date{
	display: flex;
	flex-direction: column;
}

.buttons{
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}*/